:root{
    --base-color: green;
    --font-size: 20px;
}

.Title{
    font-weight: bold;
    color: var(--base-color);
}

.Title1{
    font-style: italic;
    font-size: var(--font-size);
}

#First_Title{
    color: blue;
}

.Title2 ul li {
    color: pink;
    font-style: italic;
    font-size: 50px;
}

img{
    /* float: left; */
    width: 100%;

}

.Content{
    float: left;
    width: 300px;
    padding: 10px 20px 30px 40px;
    border: blue;
    border-style: solid;
    border-width: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 30px;
    background-color: gray;
}
